<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/home.css"></link>
    
    </head>
    <body>
        <h1 id="page-heading"><i class="fa fa-address-book" aria-hidden="true"></i>
            My contacts list</h1>
            <div id="contact-list">
                <ul id="contact-list-items">
                    <% for(let i of contact_list){ %>
                        <li id="contact-list-item">
                        <p id="name"><%=i.name%></p>
                        <p id="phone"><%=i.phone%></p>
                        <div>
                            <a href="/delete-contact/?id=<%= i._id  %>"> 
                                 <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            
                        </div>
                    </li>
                     
                    <%}%>
               </ul>
               <form action="/create-contact" method="POST">
                   <input type="text" name="name" placeholder="Name" required class="input-name"/>
                   <input type="number" name="phone" placeholder="Number" required class="input-phone"/>
                   <button type="submit" class="button">Add</button>
               </form>
           </div>
       
       <script type="text/javascript" src="/js/home.js"></script>
   </body>
</html>
                          
                    