<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Practical</h1>
        <ul>
            <% for(let i=1;i<=5;i++){%>
              <li><%=i%></li>  
                <%}%>
        </ul>
        <%if(true){%>
         <p>true word</p>
         <%}else{%>
            <p>false</p>
       <%}%>
    </body>
</html>